<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.husni.covninfo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WorldHistory" />
        <activity android:name=".activity.NewsDetail" />
        <activity android:name=".activity.IndonesiaProvinceActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.DailyReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO" />

        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.InfoActivity" />
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>